/* Tailwind Base, Components, and Utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Face for Outfit */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* General Styles */
body {
  @apply bg-background text-foreground antialiased;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.link {
  @apply text-foreground hover:text-primary transition duration-200 ease-in-out;
}

.button {
  @apply text-white bg-primary rounded-md px-4 py-2 hover:bg-primary-dark transition duration-200 ease-in-out;
}

.heading {
  @apply font-bold text-primary;
}

.paragraph {
  @apply text-muted-foreground;
}

.card {
  @apply bg-white shadow-lg rounded-lg p-6 transition hover:shadow-xl;
}

.card-header {
  @apply font-semibold text-primary;
}

.card-content {
  @apply text-muted-foreground;
}

.input, .textarea {
  @apply border rounded-md p-2 focus:ring focus:ring-primary-light focus:outline-none;
}

.bg-primary {
  @apply bg-red-600;
}

.bg-primary-dark {
  @apply bg-red-700;
}

.text-primary {
  @apply text-red-600;
}

.text-muted-foreground {
  @apply text-gray-500;
}

.text-foreground {
  @apply text-gray-900;
}

.bg-background {
  @apply bg-gray-50;
} 